{% extends 'base.html' %}

{% block title %}List of notes{% endblock title %}

{% block content %}
<h1 class="text-primary display-1">List of all notes</h1>
<div class="row">
    {% for note in notes %}
    <div class="mt-3 col-xs-12 col-sm-6 col-lg-6 col-xl-4">
        <div class="card card-body">
            <h2 class="card-title"><a href="{% url 'note' note.pk %}">{{note.title}}</a></h2>
            <p class="text-secondary card-text">{{note.date}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}